.body-style {
  margin: 0px;
  padding: 0px;

}

.nav-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.nav-bar {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav-like {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.nav-link {

  font-family: 'Inter', sans-serif;
}

.nav-form {
  display: flex;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.nav-product-link {
  display: flex;
  flex-direction: row;
}

.our-product-link {
  margin: 0rem 0.3rem;
}

.nav-select {
  background: none;
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.color-white {
  color: white;
}

.color-blue {
  color: #437ef7;
}

.bg-color-blue-9 {
  background-color: #2B63D9;
}

.color-fade {
  color: #B1CCFB;
}

.color-black {
  background-color: #151b28;
}

.color-gray {
  color: #5F6D7E
}

.color-gray-7 {
  color: #272D37;
}

.color-neutral {
  color: #DAE0E6;
}

.btn-primary {
  background-color: rgb(67, 126, 247);
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  padding: 1rem 0.9rem;
  border-radius: 0.4rem;
  font-weight: bold;
}

.btn-primary-5 {
  background-color: #5390f8;
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  padding: 0.5rem 0.5rem;
  border-radius: 0.4rem;
  font-weight: bold;
}

.btn-secondary {
  background-color: #2c3444;
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  padding: 1rem 0.9rem;
  border-radius: 0.4rem;
  font-weight: bold;
}

.nav-btns {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ham-burger {
  display: none;
  flex-direction: row;
}

.ham-icon {
  width: 1.8rem;
}

.header {
  background-image:
    linear-gradient(to bottom, #02030c85, #08101d),
    url(HeaderBackground.png);
  background-size: cover;
  padding-bottom: 5rem;
  border-bottom-left-radius: 80% 15%;
  border-bottom-right-radius: 80% 15%;
  margin-bottom: 4rem;
}

.header-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: center;
  gap: 1.7rem;
}

.header-heading {
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  width: 80%;
  margin: 0;
}

.primary-font {
  font-family: 'Inter', sans-serif;
}

.header-btn-hldr {
  display: flex;
  flex-direction: row;
}


.page-body {
  padding-left: 3rem;
  padding-right: 3rem;
}

.page-section-container {
  align-items: center;
}

.page-section-body {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-bottom: 2rem;
  align-items: center;
  text-align: center;
}

.card-img {
  width: 2.5rem;
  margin-bottom: 1rem;
}



.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.card-btn {
  width: 1rem;
  height: 1rem;
}

.card-footer {
  width: 80%;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.card-heading {
  margin: 0.5rem 0;
}

.card-descr {
  width: 80%;
  height: 25%;
}

.section-margin-btm {
  margin-bottom: 4rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mb-1 {
  margin: 0 0 1rem 0;
}

.mx-half {
  margin: 0 0.5rem;
}

.py-5 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.product-col-1 {
  height: 70%;
  width: 40%;
  gap: 1.5rem;
}

.product-col-2 {
  width: 40%;
  display: flex;
}

.brand-col-1 {
  width: 40%;
  display: flex;
}

.brand-col-2 {
  height: 70%;
  width: 40%;
  gap: 1.5rem;
}

.product-feat-descr-col {
  width: 90%;
}

.small-col {
  height: 80%;
}

.weight-6 {
  font-weight: 600;
}

.weight-6 {
  font-weight: 400;
}

.weight-7 {
  font-weight: 700;
}

.jst-cent {
  justify-content: center;
}

.jst-spc-btw {
  justify-content: space-between;
}

.algn-cent {
  align-items: center;
}

.product-feat-footer {
  gap: 1rem;
}

.product-feat-heading {
  margin: 0;
}

.product-feat-row {
  justify-content: space-between;
  gap: 2rem;
}

.feat-desc-mrgn {
  margin: 0.4rem 0;
}

.feature-img-2 {
  display: none;
}

.brand-holder {
  width: 80%;
  justify-content: space-between;
}

.brand-container {
  background-color: #2b63d9;
  padding: 4rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-5 {
  gap: 5rem;
}

.logo-img {
  width: 100%;
}

.price-card {
  width: 25rem;
  border: 2px solid #f4f5f7;
  border-radius: 0.5rem;
  padding: 2rem 2rem;
}

.txt-centr {
  text-align: center;
}

.card-line {
  width: 90%;
  border: 1px solid #f4f5f7;
}

.blog-col {
  width: 40%;
}

.blog-descr-col {
  width: 70%;

}

.blog-descr-hldr {
  justify-content: space-between;
  gap: 1rem;
}

.blog-container {
  justify-content: space-evenly;
}

.blog-img {
  width: 100%;
}

.page-footer {
  width: 80%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.footer-link-hlder {
  width: 15rem;
}

.footer-col-1 {
  width: 40%;
}

.footer-col-2 {
  width: 40%;
}

.footer-col-container {
  justify-content: space-between;
}

.footer-form {
  width: 90%;
}

.footer-input {
  width: 80%;
  border: none;
  padding: 0.8rem 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.footer-end-container {
  width: 100%;
}

.footer-icons {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 1600px) {
  .nav-btns {
    width: 13%;
  }

  .page-section-body {
    width: 60%;
  }
}

@media screen and (max-width: 1500px) {
  .header-content {
    width: 40%;
  }
}

@media screen and (max-width: 1400px) {

  /* product feature section */
  .product-feat-container {
    flex-direction: column;
    gap: 3rem;
  }

  .product-col-1 {
    order: 2;
    width: 60%;
  }

  .product-col-2 {
    order: 1;
  }

  .feature-img-1 {
    display: none;
  }

  .feature-img-2 {
    display: block;
  }

  /* brand section */
  .brand-holder {
    flex-direction: column;
    gap: 3rem;
  }

  .brand-img {
    width: 100%;
  }

  .brand-col-1 {
    width: 80%;
  }

  .brand-col-2 {
    width: 80%;
  }

  /* blog section */
  .blog-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .blog-col {
    width: 80%;
  }

  .blog-descr-col {
    width: 80%;
  }
}

@media screen and (max-width: 1300px) {
  .nav-links-container {
    display: none;
  }

  .nav-btns {
    display: none;
  }

  .ham-burger {
    display: flex;
  }
}

@media screen and (max-width: 1160px) {
  .header-content {
    width: 70%;
  }

  .page-section-body {
    width: 90%;
  }

  /* product section */
  .product-col-1 {
    width: 95%;
  }

  /* brand section */
  .brand-holder {
    width: 95%;
  }

  .brand-col-1 {
    width: 95%;
  }

  .brand-col-2 {
    width: 95%;
  }

  /* footer */
  .footer-col-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-col-1 {
    width: 80%;
  }

  .footer-col-2 {
    width: 80%;
  }

  .footer-form {
    width: 100%;
  }
}

@media screen and (max-width: 906px) {
  .header-content {
    width: 98%;
  }

}

@media screen and (max-width: 720px) {

  /* blog section */
  .blog-descr-hldr {
    flex-direction: column;
  }

  .blog-descr-col {
    width: 90%;
  }

  .blog-descr-img {
    width: 80%;
  }

  .blog-col {
    width: 95%;
  }

  .product-col-2 {
    width: 100%;
  }

  .feature-img-2 {
    width: 100vw;
  }

  /* body */
  .page-body {
    padding: 0 0.5rem;
  }

  /* header */
  .header-heading {
    font-size: 2rem;
  }

  .header-btn-hldr {
    flex-direction: column;
    width: 70%;
    gap: 1rem;
  }

  .header {
    border-bottom-left-radius: 80% 5%;
    border-bottom-right-radius: 80% 5%;
  }

  .footer-link-container {
    gap: 1rem;
  }

  .footer-link-hlder {
    width: 8rem;
  }

  .footer-col-1 {
    width: 100%;
  }

  .footer-col-2 {
    width: 100%;
  }

  .footer-end-container {
    flex-direction: column;
    gap: 1rem;
  }

}