.body-style {
  margin: 0px;
  padding: 0px;
  
}
.nav-bar-container{
display: flex;
justify-content: center;
margin-bottom: 6rem;
}

.nav-bar{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}

.nav-like{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.nav-link{
 
  font-family: 'Inter', sans-serif;
}

.nav-form{
display: flex;
}

.nav-links-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.nav-product-link{
display: flex;
flex-direction: row;
}

.our-product-link{
  margin: 0rem 0.3rem;
}

.nav-select{
  background: none;
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.color-white
{
  color: white;
}

.color-blue
{
  color: #437ef7;
}

.color-fade{
  color:#B1CCFB;
}

.color-black{
  background-color: #151b28;
}

.color-gray{
  color: #5F6D7E
}

.color-gray-7{
  color: #272D37;
}

.color-neutral{
  color: #DAE0E6;
}

.btn-primary{
  background-color: rgb(67, 126, 247);
 border: none;
 color: white;
 font-family: 'Inter', sans-serif;
 padding: 1rem 0.9rem;
 border-radius: 0.4rem;
font-weight: bold;
}

.btn-primary-5{
  background-color: #5390f8;
 border: none;
 color: white;
 font-family: 'Inter', sans-serif;
 padding: 0.5rem 0.5rem;
 border-radius: 0.4rem;
font-weight: bold;
}

.btn-secondary{
  background-color: #2c3444;
 border: none;
 color: white;
 font-family: 'Inter', sans-serif;
 padding: 1rem 0.9rem;
 border-radius: 0.4rem;
font-weight: bold;
}

.nav-btns{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ham-burger{
  display: none;
  flex-direction: row;
}
.ham-icon{
  width: 1.8rem;
}

.header{
  /* background-image: linear-gradient(#0F1724, transparent), url(HeaderBackground.png);
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 35%, rgba(15,23,36,1) 35%, rgba(0,212,255,1) 100%);  */
  background-image:
  linear-gradient(to bottom, #63698a85, #0F1724),
  url(HeaderBackground.png);
  background-size:cover;
  padding-bottom: 5rem;
  /* border-radius:0 0 5% 5%;
  -webkit-border-radius:0 0 5% 5%;
  background:#000;
  min-height:100px; */

  border-bottom-left-radius: 80% 15%;
  border-bottom-right-radius: 80% 15%;
  margin-bottom: 4rem;
}

.header-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  align-items: center;

  /* background-color: #0F1724; */
}

.header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellow; */
  width: 30%;
  /* max-width: 620px; */
  text-align: center;
  gap: 1.7rem;
}

.header-heading{
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  width: 80%;
  margin: 0;
}

.primary-font{
  font-family: 'Inter', sans-serif;
}
.header-btn-hldr{
  display: flex;
  flex-direction: row;
  /* width: 40%; */
}


.page-body{
  padding-left: 3rem;
  padding-right: 3rem;
}

.page-section-container{
  align-items: center;
}

.page-section-body{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}

.card{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-bottom: 2rem;
  align-items: center;
  text-align: center;
}

.card-img{
  width: 2.5rem;
  margin-bottom: 1rem;
}



.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.card-btn{
  width: 1rem;
  height: 1rem;
}

.card-footer
{
width: 80%;
align-items: center;
justify-content: center;
column-gap: 0.5rem;
}

.card-heading{
  margin: 0.5rem 0;
}

.card-descr{
  width: 80%;
  height: 25%;
}

.section-margin-btm{
  margin-bottom: 4rem;
}

.mx-1
{
  margin: 0 1rem;
}

.mb-1{
 margin: 0 0 1rem 0;
}

.mx-half{
  margin: 0 0.5rem;
}
.product-col-1{
  height: 70%;
  width:40%;
  gap: 1.5rem;
}
.product-col-2{
  width: 40%;
  display: flex;
}

.brand-col-1{

}

.brand-col-2{

}

.product-feat-descr-col{
  width: 90%;
}

.small-col{
  height: 80%;
}

.weight-6{
  font-weight: 600;
}

.weight-6{
  font-weight: 400;
}

.weight-7{
font-weight: 700;
}
.jst-cent{
  justify-content: center;
}

.algn-cent{
  align-items: center;
}

.product-feat-footer{
gap: 1rem;
}

.product-feat-heading{
margin: 0;
}

.test{
  background-color: yellow;
}

.product-feat-row{
  justify-content: space-between;
  gap: 2rem;
}

.feat-desc-mrgn{
  margin: 0.4rem 0;
}

.feature-img-1{
  
}

.feature-img-2{
  display: none;
}

.brand-holder{
  width: 80%;
  justify-content: space-between;
}

.brand-container{
  background-color: #2b63d9;
  padding: 4rem;
}

.gap-1{
  gap: 1rem;
}

.gap-5{
  gap: 5rem;
}

.logo-img{
  width: 100%; /* Use viewport width instead of 100% */
 
  /* object-fit: none; */
 
 
}

.price-card{
  width: 25rem;
  border: 2px solid #f4f5f7; 
  border-radius: 0.5rem;
  padding: 2rem 2rem;
}

.card-line{
  width: 90%;
  border: 1px solid #f4f5f7;
}

.blog-col{
  width: 40%;
}

.blog-descr-col{
  width: 70%;
}

.blog-descr-hldr{
  justify-content: space-between;
}

.blog-container{
 justify-content: space-evenly;
}

.blog-img{
  width: 100%;
}

.page-footer-1{
  width: 80%;
}

.flex-wrap{
  flex-wrap: wrap;
}

.footer-link-hlder{
  width: 15rem;
}


@media screen and (max-width: 1600px) {
  .nav-btns {
    width: 13%;
  }
  .page-section-body{
    width: 60%;
  }
}

@media screen and (max-width: 1500px) {
  .header-content{
    width: 40%;
  }
}

@media screen and (max-width: 1400px) {
  /* product feature section */
  .product-feat-container{
    flex-direction: column;
    gap: 3rem;
  }

  .product-col-1{
    order: 2;
    width: 60%;
  }
  .product-col-2{
    order: 1;
  }
  .feature-img-1{
    display: none;
  }
  .feature-img-2{
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  .nav-links-container {
   display: none;
  }
  .nav-btns{
    display: none;
  }
  .ham-burger{
    display: flex;
  }
}

@media screen and (max-width: 1160px) {
  .header-content{
    width: 70%;
  }

  .page-section-body{
    width: 90%;
  }

  .product-col-1{
    width: 95%;
  }
}

@media screen and (max-width: 906px) {
  .header-content{
    width: 98%;
  }

}